/*! CSS Used from: bower_components/admin-lte/dist/css/AdminLTE.min.css */
*{box-sizing:border-box;}
.content{min-height:250px;padding:15px;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
h2,h4{font-family:'Source Sans Pro', sans-serif;}
.form-control{border-radius:3px;box-shadow:none;border-color:#d2d6de;}
.form-control:focus{border-color:#3c8dbc;box-shadow:none;}
.form-control::-moz-placeholder,.form-control:-ms-input-placeholder,.form-control::-webkit-input-placeholder{color:#bbb;opacity:1;}
.form-control:not(select){-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.box{position:relative;border-radius:3px;background:#ffffff;border-radius:5px;-webkit-box-shadow:0 1px 20px 0 rgba(69, 90, 100, 0.08);box-shadow:0 1px 20px 0 rgba(69, 90, 100, 0.08);margin-bottom:20px;width:100%;}
.box-body:before,.box-body:after{content:" ";display:table;}
.box-body:after{clear:both;}
.box-body:before,.box-body:after{content:" ";display:table;}
.box-body:after{clear:both;}
.box-body{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px;padding:10px;}
.btn{border-radius:3px;-webkit-box-shadow:none;box-shadow:none;border:1px solid transparent;}
.btn:active{-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);-moz-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);}
.btn:focus{outline:none;}
.btn-success{background-color:#00a65a;border-color:#008d4c;}
.btn-success:hover,.btn-success:active{background-color:#008d4c;}
.alert{border-radius:3px;}
.alert h4{font-weight:600;}
.alert .icon{margin-right:10px;}
.alert .close{color:#000;opacity:.2;filter:alpha(opacity=20);}
.alert .close:hover{opacity:.5;filter:alpha(opacity=50);}
.alert-danger{border-color:#d73925;}
.select2-container--default:focus,.select2-selection:focus,.select2-container--default:active,.select2-selection:active{outline:none;}
.select2-container--default .select2-selection--single{border:1px solid #d2d6de;border-radius:0;padding:6px 12px;height:34px;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-left:0;padding-right:0;height:auto;margin-top:-4px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:28px;right:3px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{margin-top:0;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-right:10px;}
.alert-danger{color:#fff!important;}
.alert-danger{background-color:#dd4b39!important;}
.form-group{margin-bottom:15px;}
.box-body{padding-top:2%;overflow:hidden!important;box-sizing:border-box!important;}
.grid{width:100%;float:left;}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;}
.dataTables_wrapper{padding:8px;width:100%;margin:0 auto;}
.row{margin-right:-5px;margin-left:-5px;}
.content .box{box-sizing:border-box;}
.content .box{padding-bottom:16px;}
@media screen and (max-width: 1330px){
.select2-container{width:100%!important;}
.csv-name{margin-right:5px;width:22%;}
.merch-name{margin:6px 0;font-size:12px;}
}
/*! CSS Used from: bower_components/bootstrap/dist/css/bootstrap.min.css */
section{display:block;}
b{font-weight:700;}
button,input,select{margin:0;font:inherit;color:inherit;}
button{overflow:visible;}
button,select{text-transform:none;}
button,input[type=submit]{-webkit-appearance:button;cursor:pointer;}
html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
h2{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
button,input,select{font-family:inherit;font-size:inherit;line-height:inherit;}
h2,h4{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h2{margin-top:20px;margin-bottom:10px;}
h4{margin-top:10px;margin-bottom:10px;}
h2{font-size:30px;}
h4{font-size:18px;}
.row{margin-right:-15px;margin-left:-15px;}
.col-md-1,.col-md-2,.col-sm-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:768px){
.col-sm-12{float:left;}
.col-sm-12{width:100%;}
}
@media (min-width:992px){
.col-md-1,.col-md-2{float:left;}
.col-md-2{width:16.66666667%;}
.col-md-1{width:8.33333333%;}
}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700;}
.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.form-control::-moz-placeholder{color:#999;opacity:1;}
.form-control:-ms-input-placeholder{color:#999;}
.form-control::-webkit-input-placeholder{color:#999;}
.form-control::-ms-expand{background-color:transparent;border:0;}
.form-control[disabled]{background-color:#eee;opacity:1;}
.form-control[disabled]{cursor:not-allowed;}
.form-group{margin-bottom:15px;}
@media (min-width:768px){
.form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle;}
.form-inline .form-control{display:inline-block;width:auto;vertical-align:middle;}
}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:active:focus,.btn:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c;}
.btn-success:focus{color:#fff;background-color:#449d44;border-color:#255625;}
.btn-success:hover{color:#fff;background-color:#449d44;border-color:#398439;}
.btn-success:active{color:#fff;background-color:#449d44;border-color:#398439;}
.btn-success:active:focus,.btn-success:active:hover{color:#fff;background-color:#398439;border-color:#255625;}
.btn-success:active{background-image:none;}
.btn-lg{padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px;}
.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px;}
.alert h4{margin-top:0;color:inherit;}
.alert-dismissable{padding-right:35px;}
.alert-dismissable .close{position:relative;top:-2px;right:-21px;color:inherit;}
.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1;}
.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2;}
.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;filter:alpha(opacity=50);opacity:.5;}
button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0;}
.row:after,.row:before{display:table;content:" ";}
.row:after{clear:both;}
/*! CSS Used from: bower_components/select2/dist/css/select2.min.css */
.select2-container{box-sizing:border-box;display:inline-block;margin:0;position:relative;vertical-align:middle;width:100%!important;}
.select2-container .select2-selection--single{box-sizing:border-box;cursor:pointer;display:block;height:28px;user-select:none;-webkit-user-select:none;}
.select2-container .select2-selection--single .select2-selection__rendered{display:block;padding-left:8px;padding-right:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.select2-hidden-accessible{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important;}
.select2-container--default .select2-selection--single{background-color:#fff;border:1px solid #aaa;border-radius:4px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:26px;position:absolute;top:1px;right:1px;width:20px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0;}
/*! CSS Used from: http://127.0.0.1:8000/admin.css */
.grid{width:100%;float:left;}
.box-body{background-color:#fff;height:100%;}
.content .box{margin-bottom:30px;display:inline-block;}
.content{width:100%;float:left;background-color:#ecf0f5;}
/*! CSS Used from: Embedded */
.page_speed_535107554{display:none;}
/*! CSS Used from: bower_components/admin-lte/dist/css/AdminLTE.min.css */
*{box-sizing:border-box;}
.select2-container--default.select2-container--focus,.select2-container--default:focus,.select2-selection:focus,.select2-container--default:active,.select2-selection:active{outline:none;}
.select2-container--default .select2-selection--single{border:1px solid #d2d6de;border-radius:0;padding:6px 12px;height:34px;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-left:0;padding-right:0;height:auto;margin-top:-4px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:28px;right:3px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{margin-top:0;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-right:10px;}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;}
@media screen and (max-width: 1330px){
.select2-container{width:100%!important;}
}