/*! CSS Used from: bower_components/admin-lte/dist/css/AdminLTE.min.css */
*{box-sizing:border-box;}
.content{min-height:250px;padding:15px;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
h3{font-family:'Source Sans Pro', sans-serif;}
a{color:#337ab7;}
a:hover,a:active,a:focus{outline:none;text-decoration:none;color:#23527c;}
.mailbox-controls .pagination{margin:0;}
.mailbox-controls > button{margin-right:10px;padding:7px 12px;}
.box{position:relative;border-radius:3px;background:#ffffff;border-radius:5px;-webkit-box-shadow:0 1px 20px 0 rgba(69, 90, 100, 0.08);box-shadow:0 1px 20px 0 rgba(69, 90, 100, 0.08);margin-bottom:20px;width:100%;}
.box.box-primary{border-top-color:#3c8dbc;}
.box-header:before,.box-body:before,.box-footer:before,.box-header:after,.box-body:after,.box-footer:after{content:" ";display:table;}
.box-header:after,.box-body:after,.box-footer:after{clear:both;}
.box-header:before,.box-body:before,.box-footer:before,.box-header:after,.box-body:after,.box-footer:after{content:" ";display:table;}
.box-header:after,.box-body:after,.box-footer:after{clear:both;}
.box-header{color:#444;display:block;padding:10px;position:relative;}
.box-header.with-border{border-bottom:1px solid #f4f4f4;}
.box-header .box-title{display:inline-block;font-size:18px;margin:0;line-height:1;}
.box-body{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px;padding:10px;}
.btn{border-radius:3px;-webkit-box-shadow:none;box-shadow:none;border:1px solid transparent;}
.active{background-color:#3c8dbc;color:#fff!important;}
.btn:active{-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);-moz-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);}
.btn:focus{outline:none;}
.btn-default{background-color:#f4f4f4;color:#444;border-color:#ddd;}
.btn-default:hover,.btn-default:active{background-color:#e7e7e7;}
.pagination>li>a{background:#fafafa;color:#666;}
.table>tbody>tr>td{border-top:1px solid #dbdbdb;}
.mailbox-messages>.table{margin:0;}
.mailbox-controls{padding:5px;}
.text-yellow{color:#f39c12!important;}
.no-padding{padding:0!important;}
.box-body{padding-top:2%;overflow:hidden!important;box-sizing:border-box!important;}
@media print{
.table-responsive{overflow:auto;}
.table-responsive>.table tr td{white-space:normal!important;}
}
.grid{width:100%;float:left;}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;}
.row{margin-right:-5px;margin-left:-5px;}
.content .box{box-sizing:border-box;}
.content .box{padding-bottom:16px;}
@media screen and (max-width: 1500px){
.table>tbody>tr>td{padding:10px 5px;}
}
@media screen and (max-width: 1330px){
@media screen and (max-width: 1300px){
.table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;border:1px solid #ddd;}
.table-responsive > .table{margin-bottom:0;}
.table-responsive > .table > tbody > tr > td{white-space:nowrap;}
}
@media screen and (max-width: 650px){
table{max-width:100vw;border-collapse:collapse;}
}
}
/*! CSS Used from: bower_components/bootstrap/dist/css/bootstrap.min.css */
section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
b{font-weight:700;}
button,input{margin:0;font:inherit;color:inherit;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input[type=checkbox]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
table{border-spacing:0;border-collapse:collapse;}
td{padding:0;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
tr{page-break-inside:avoid;}
h3{orphans:3;widows:3;}
h3{page-break-after:avoid;}
.table{border-collapse:collapse!important;}
.table td{background-color:#fff!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
button,input{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h3{margin-top:20px;margin-bottom:10px;}
h3{font-size:24px;}
ul{margin-top:0;margin-bottom:10px;}
.row{margin-right:-15px;margin-left:-15px;}
.col-md-12,.col-sm-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:768px){
.col-sm-12{float:left;}
.col-sm-12{width:100%;}
}
@media (min-width:992px){
.col-md-12{float:left;}
.col-md-12{width:100%;}
}
table{background-color:transparent;}
.table{width:100%;max-width:100%;margin-bottom:20px;}
.table>tbody>tr>td{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd;}
.table-striped>tbody>tr:nth-of-type(odd){background-color:#f9f9f9;}
.table-hover>tbody>tr:hover{background-color:#f5f5f5;}
.table-responsive{min-height:.01%;overflow-x:auto;}
@media screen and (max-width:767px){
.table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;border:1px solid #ddd;}
.table-responsive>.table{margin-bottom:0;}
.table-responsive>.table>tbody>tr>td{white-space:nowrap;}
}
input[type=checkbox]{margin:4px 0 0;margin-top:1px\9;line-height:normal;}
input[type=checkbox]:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:active:focus,.btn:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-default{color:#333;background-color:#fff;border-color:#ccc;}
.btn-default:focus{color:#333;background-color:#e6e6e6;border-color:#8c8c8c;}
.btn-default:hover{color:#333;background-color:#e6e6e6;border-color:#adadad;}
.btn-default:active{color:#333;background-color:#e6e6e6;border-color:#adadad;}
.btn-default:active:focus,.btn-default:active:hover{color:#333;background-color:#d4d4d4;border-color:#8c8c8c;}
.btn-default:active{background-image:none;}
.btn-sm{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px;}
.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px;}
.pagination>li{display:inline;}
.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#337ab7;text-decoration:none;background-color:#fff;border:1px solid #ddd;}
.pagination>li:first-child>a{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px;}
.pagination>li:last-child>a{border-top-right-radius:4px;border-bottom-right-radius:4px;}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;color:#23527c;background-color:#eee;border-color:#ddd;}
.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#337ab7;border-color:#337ab7;}
.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd;}
.row:after,.row:before{display:table;content:" ";}
.row:after{clear:both;}
.pull-right{float:right!important;}
/*! CSS Used from: http://127.0.0.1:8000/admin.css */
.grid{width:100%;float:left;}
.box-body{background-color:#fff;height:100%;}
.content .box{margin-bottom:30px;display:inline-block;}
.content{width:100%;float:left;background-color:#ecf0f5;}
/*! CSS Used from: http://127.0.0.1:8000/css/optimized/inbox.css */
*{box-sizing:border-box;}
.content{min-height:250px;padding:15px;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
h3{font-family:'Source Sans Pro', sans-serif;}
a{color:#337ab7;}
a:hover,a:active,a:focus{outline:none;text-decoration:none;color:#23527c;}
.mailbox-controls > button{margin-right:10px;padding:7px 12px;}
.box{position:relative;border-radius:3px;background:#ffffff;border-radius:5px;-webkit-box-shadow:0 1px 20px 0 rgba(69, 90, 100, 0.08);box-shadow:0 1px 20px 0 rgba(69, 90, 100, 0.08);margin-bottom:20px;width:100%;}
.box.box-primary{border-top-color:#3c8dbc;}
.box-header:before,.box-body:before,.box-footer:before,.box-header:after,.box-body:after,.box-footer:after{content:" ";display:table;}
.box-header:after,.box-body:after,.box-footer:after{clear:both;}
.box-header:before,.box-body:before,.box-footer:before,.box-header:after,.box-body:after,.box-footer:after{content:" ";display:table;}
.box-header:after,.box-body:after,.box-footer:after{clear:both;}
.box-header{color:#444;display:block;padding:10px;position:relative;}
.box-header.with-border{border-bottom:1px solid #f4f4f4;}
.box-header .box-title{display:inline-block;font-size:18px;margin:0;line-height:1;}
.box-body{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px;padding:10px;}
.btn{border-radius:3px;-webkit-box-shadow:none;box-shadow:none;border:1px solid transparent;}
.btn:active{-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);-moz-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);}
.btn:focus{outline:none;}
.btn-default{background-color:#f4f4f4;color:#444;border-color:#ddd;}
.btn-default:hover,.btn-default:active{background-color:#e7e7e7;}
.table>tbody>tr>td{border-top:1px solid #dbdbdb;}
.mailbox-messages>.table{margin:0;}
.mailbox-controls{padding:0;}
.text-yellow{color:#f39c12!important;}
.no-padding{padding:0!important;}
.box-body{padding-top:2%;overflow:hidden!important;box-sizing:border-box!important;}
@media print{
.table-responsive{overflow:auto;}
.table-responsive>.table tr td{white-space:normal!important;}
}
.grid{width:100%;float:left;}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;}
.row{margin-right:-5px;margin-left:-5px;}
.content .box{box-sizing:border-box;}
.content .box{padding-bottom:16px;}
@media screen and (max-width: 1500px){
.table>tbody>tr>td{padding:10px 5px;}
}
@media screen and (max-width: 1330px){
@media screen and (max-width: 1300px){
.table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;border:1px solid #ddd;}
.table-responsive > .table{margin-bottom:0;}
.table-responsive > .table > tbody > tr > td{white-space:nowrap;}
}
@media screen and (max-width: 650px){
table{max-width:100vw;border-collapse:collapse;}
}
}
section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
b{font-weight:700;}
button,input{margin:0;font:inherit;color:inherit;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input[type=checkbox]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
table{border-spacing:0;border-collapse:collapse;}
td{padding:0;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
tr{page-break-inside:avoid;}
h3{orphans:3;widows:3;}
h3{page-break-after:avoid;}
.table{border-collapse:collapse!important;}
.table td{background-color:#fff!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
button,input{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h3{margin-top:20px;margin-bottom:10px;}
h3{font-size:24px;}
.row{margin-right:-15px;margin-left:-15px;}
.col-md-12,.col-sm-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:768px){
.col-sm-12{float:left;}
.col-sm-12{width:100%;}
}
@media (min-width:992px){
.col-md-12{float:left;}
.col-md-12{width:100%;}
}
table{background-color:transparent;}
.table{width:100%;max-width:100%;margin-bottom:20px;}
.table>tbody>tr>td{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd;}
.table-striped>tbody>tr:nth-of-type(odd){background-color:#f9f9f9;}
.table-hover>tbody>tr:hover{background-color:#f5f5f5;}
.table-responsive{min-height:.01%;overflow-x:auto;}
@media screen and (max-width:767px){
.table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;border:1px solid #ddd;}
.table-responsive>.table{margin-bottom:0;}
.table-responsive>.table>tbody>tr>td{white-space:nowrap;}
}
input[type=checkbox]{margin:4px 0 0;margin-top:1px\9;line-height:normal;}
input[type=checkbox]:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:active:focus,.btn:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-default{color:#333;background-color:#fff;border-color:#ccc;}
.btn-default:focus{color:#333;background-color:#e6e6e6;border-color:#8c8c8c;}
.btn-default:hover{color:#333;background-color:#e6e6e6;border-color:#adadad;}
.btn-default:active{color:#333;background-color:#e6e6e6;border-color:#adadad;}
.btn-default:active:focus,.btn-default:active:hover{color:#333;background-color:#d4d4d4;border-color:#8c8c8c;}
.btn-default:active{background-image:none;}
.btn-sm{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px;}
.row:after,.row:before{display:table;content:" ";}
.row:after{clear:both;}
.pull-right{float:right!important;}
.grid{width:100%;float:left;}
.box-body{background-color:#fff;height:100%;}
.content .box{margin-bottom:30px;display:inline-block;}
.content{width:100%;float:left;background-color:#ecf0f5;}
.pull-right{float:right;}
/*! CSS Used from: Embedded */
.page_speed_1717357784{position:relative;}
.page_speed_69708843{position:absolute;opacity:0;}
.page_speed_547213546{position:absolute;top:0%;left:0%;display:block;width:100%;height:100%;margin:0px;padding:0px;background:rgb(255, 255, 255);border:0px;opacity:0;}