/*! CSS Used from: /bower_components/admin-lte/dist/css/AdminLTE.min.css */
*{box-sizing:border-box;}
.content{min-height:250px;padding:15px;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
a{color:#337ab7;}
a:hover,a:active,a:focus{outline:none;text-decoration:none;color:#23527c;}
.form-control{border-radius:3px;box-shadow:none;border-color:#d2d6de;}
.form-control:focus{border-color:#3c8dbc;box-shadow:none;}
.form-control::-moz-placeholder,.form-control:-ms-input-placeholder,.form-control::-webkit-input-placeholder{color:#bbb;opacity:1;}
.form-control:not(select){-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.input-group .input-group-text{border-color:#d2d6de;background-color:#fff;}
.box{position:relative;border-radius:3px;background:#ffffff;border-radius:5px;-webkit-box-shadow:0 1px 20px 0 rgba(69, 90, 100, 0.08);box-shadow:0 1px 20px 0 rgba(69, 90, 100, 0.08);margin-bottom:20px;width:100%;}
.box.box-primary{border-top-color:#3c8dbc;}
.box-body:before,.box-body:after{content:" ";display:table;}
.box-body:after{clear:both;}
.box-body:before,.box-body:after{content:" ";display:table;}
.box-body:after{clear:both;}
.box-body{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px;padding:10px;}
.btn{border-radius:3px;-webkit-box-shadow:none;box-shadow:none;border:1px solid transparent;}
.btn:active{-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);-moz-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);}
.btn:focus{outline:none;}
.btn-primary{background-color:#3c8dbc;border-color:#367fa9;}
.btn-primary:hover,.btn-primary:active{background-color:#367fa9;}
.btn-success{background-color:#00a65a;border-color:#008d4c;}
.btn-success:hover,.btn-success:active{background-color:#008d4c;}
.btn-danger{background-color:#dd4b39;border-color:#d73925;}
.btn-danger:hover,.btn-danger:active{background-color:#d73925;}
.select2-container--default:focus,.select2-selection:focus,.select2-container--default:active,.select2-selection:active{outline:none;}
.select2-container--default .select2-selection--single{border:1px solid #d2d6de;border-radius:0;padding:6px 12px;height:34px;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-left:0;padding-right:0;height:auto;margin-top:-4px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:28px;right:3px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{margin-top:0;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-right:10px;}
.form-group{margin-bottom:15px;}
.box-body{padding-top:2%;overflow:hidden!important;box-sizing:border-box!important;}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;}
.row{margin-right:-5px;margin-left:-5px;}
.content .box{box-sizing:border-box;}
.content .box{padding-bottom:16px;}
@media screen and (max-width: 1330px){
.select2-container{width:100%!important;}
.creat-inv .btn-success{margin:0 6px;}
.creat-inv{padding-top:14px;}
}
/*! CSS Used from: /bower_components/bootstrap/dist/css/bootstrap.min.css */
section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
b{font-weight:700;}
input,select{margin:0;font:inherit;color:inherit;}
select{text-transform:none;}
input[type=submit]{-webkit-appearance:button;cursor:pointer;}
input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input,select{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.row{margin-right:-15px;margin-left:-15px;}
.col-md-12,.col-md-6{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:992px){
.col-md-12,.col-md-6{float:left;}
.col-md-12{width:100%;}
.col-md-6{width:50%;}
}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700;}
.form-control{display:block;width:100%;height:35px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.form-control::-moz-placeholder{color:#999;opacity:1;}
.form-control:-ms-input-placeholder{color:#999;}
.form-control::-webkit-input-placeholder{color:#999;}
.form-control::-ms-expand{background-color:transparent;border:0;}
@media screen and (-webkit-min-device-pixel-ratio:0){
input[type=date].form-control{line-height:34px;}
}
.form-group{margin-bottom:15px;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:active:focus,.btn:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4;}
.btn-primary:focus{color:#fff;background-color:#286090;border-color:#122b40;}
.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74;}
.btn-primary:active{color:#fff;background-color:#286090;border-color:#204d74;}
.btn-primary:active:focus,.btn-primary:active:hover{color:#fff;background-color:#204d74;border-color:#122b40;}
.btn-primary:active{background-image:none;}
.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c;}
.btn-success:focus{color:#fff;background-color:#449d44;border-color:#255625;}
.btn-success:hover{color:#fff;background-color:#449d44;border-color:#398439;}
.btn-success:active{color:#fff;background-color:#449d44;border-color:#398439;}
.btn-success:active:focus,.btn-success:active:hover{color:#fff;background-color:#398439;border-color:#255625;}
.btn-success:active{background-image:none;}
.btn-danger{color:#fff;background-color:#d9534f;border-color:#d43f3a;}
.btn-danger:focus{color:#fff;background-color:#c9302c;border-color:#761c19;}
.btn-danger:hover{color:#fff;background-color:#c9302c;border-color:#ac2925;}
.btn-danger:active{color:#fff;background-color:#c9302c;border-color:#ac2925;}
.btn-danger:active:focus,.btn-danger:active:hover{color:#fff;background-color:#ac2925;border-color:#761c19;}
.btn-danger:active{background-image:none;}
.input-group{position:relative;border-collapse:separate;}
.input-group .form-control{position:relative;z-index:2;margin-bottom:0;}
.input-group .form-control:focus{z-index:3;}
.input-group .mrch{display: flex;}
.input-group .mrch>*{flex: 1 1 auto;}
.input-group .select2 {flex: 1 1 auto;width: min-content !important;}
/* .input-group .form-control,.input-group-text{display:table-cell;} */
.input-group-text{white-space:nowrap;vertical-align:middle;}
.input-group-text{padding:6px 12px;font-size:14px;font-weight:400;line-height:1;color:#555;text-align:center;background-color:#eee;border:1px solid #ccc;border-radius:4px;}
.input-group .form-control:first-child{border-top-right-radius:0;border-bottom-right-radius:0;}
.input-group-text:last-child{border-top-left-radius:0;border-bottom-left-radius:0;}
.input-group-text:last-child{border-left:0;}
.row:after,.row:before{display:table;content:" ";}
.row:after{clear:both;}
.pull-right{float:right!important;}
/*! CSS Used from: /bower_components/select2/dist/css/select2.min.css */
.select2-container{box-sizing:border-box;display:inline-block;margin:0;position:relative;vertical-align:middle;width:100%!important;}
.select2-container .select2-selection--single{box-sizing:border-box;cursor:pointer;display:block;height:28px;user-select:none;-webkit-user-select:none;}
.select2-container .select2-selection--single .select2-selection__rendered{display:block;padding-left:8px;padding-right:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.select2-hidden-accessible{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important;}
.select2-container--default .select2-selection--single{background-color:#fff;border:1px solid #aaa;border-radius:4px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:26px;position:absolute;top:1px;right:1px;width:20px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0;}
/*! CSS Used from: https://investment.test/admin.css */
.box-body{background-color:#fff;height:100%;}
.content .box{margin-bottom:30px;display:inline-block;}
.content{width:100%;float:left;background-color:#ecf0f5;}
@font-face{font-family:'Glyphicons Halflings';src:url(/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot);src:url(/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot#iefix) format('embedded-opentype'),url(/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff) format('woff'),url(/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');}
/*! CSS Used from: bower_components/admin-lte/dist/css/AdminLTE.min.css */
*{box-sizing:border-box;}
.select2-container--default.select2-container--focus,.select2-container--default:focus,.select2-selection:focus,.select2-container--default:active,.select2-selection:active{outline:none;}
.select2-container--default .select2-selection--single{border:1px solid #d2d6de;border-radius:0;padding:6px 12px;height:34px;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-left:0;padding-right:0;height:auto;margin-top:-4px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:28px;right:3px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{margin-top:0;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-right:10px;}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;}
@media screen and (max-width: 1330px){
.select2-container{width:100%!important;}
}

.synd-march .input-group{width:100%;float:left;}
.synd-march .select2.select2-container{float:left;width:25%;}
.mrch{float:right;width:56%;}
.synd-march .select2{width:44%!important;float:left;}
.cret-marc .btn-danger{margin-right:4px;}
.lend .grid{margin:18px 0;}
.col-xs-6.max-marc{padding-left:0;}
.max-ma{padding-right:0;}
.content .box{box-sizing:border-box;}
.content .box{padding-bottom:16px;}
@media screen and (max-width: 1700px){
.synd-march .select2{width:30%!important;float:left;}
.mrch{float:right;width:70%;}
}
@media screen and (max-width: 1650px){
.synd-march .select2{width:15%!important;float:left;}
.mrch{float:right;width:85%;}
}
#error_message_for_amount{
    left: -32px;
}