/*! CSS Used from: /bower_components/bootstrap/dist/css/bootstrap.min.css */
section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
input,select{margin:0;font:inherit;color:inherit;}
select{text-transform:none;}
input[type=submit]{-webkit-appearance:button;cursor:pointer;}
input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input[type=checkbox]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
table{border-spacing:0;border-collapse:collapse;}
th{padding:0;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
tr{page-break-inside:avoid;}
h3{orphans:3;widows:3;}
h3{page-break-after:avoid;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input,select{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
h3,h4{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h3{margin-top:20px;margin-bottom:10px;}
h4{margin-top:10px;margin-bottom:10px;}
h3{font-size:24px;}
h4{font-size:18px;}
ul{margin-top:0;margin-bottom:10px;}
.row{margin-right:-15px;margin-left:-15px;}
.col-lg-3,.col-md-12,.col-md-3,.col-md-6,.col-sm-12,.col-sm-6,.col-xs-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.col-xs-12{float:left;}
.col-xs-12{width:100%;}
@media (min-width:768px){
.col-sm-12,.col-sm-6{float:left;}
.col-sm-12{width:100%;}
.col-sm-6{width:50%;}
}
@media (min-width:992px){
.col-md-12,.col-md-3,.col-md-6{float:left;}
.col-md-12{width:100%;}
.col-md-6{width:50%;}
.col-md-3{width:25%;}
}
@media (min-width:1200px){
.col-lg-3{float:left;}
.col-lg-3{width:25%;}
}
table{background-color:transparent;}
th{text-align:left;}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700;}
input[type=search]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input[type=checkbox]{margin:4px 0 0;margin-top:1px\9;line-height:normal;}
select[multiple]{height:auto;}
input[type=checkbox]:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.form-control::-moz-placeholder{color:#999;opacity:1;}
.form-control:-ms-input-placeholder{color:#999;}
.form-control::-webkit-input-placeholder{color:#999;}
.form-control::-ms-expand{background-color:transparent;border:0;}
input[type=search]{-webkit-appearance:none;}
.form-group{margin-bottom:15px;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:active:focus,.btn:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4;}
.btn-primary:focus{color:#fff;background-color:#286090;border-color:#122b40;}
.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74;}
.btn-primary:active{color:#fff;background-color:#286090;border-color:#204d74;}
.btn-primary:active:focus,.btn-primary:active:hover{color:#fff;background-color:#204d74;border-color:#122b40;}
.btn-primary:active{background-image:none;}
.row:after,.row:before{display:table;content:" ";}
.row:after{clear:both;}
/*! CSS Used from: /bower_components/font-awesome/css/font-awesome.min.css */
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-user:before{content:"\f007";}
/*! CSS Used from: /bower_components/select2/dist/css/select2.min.css */
.select2-container{box-sizing:border-box;display:inline-block;margin:0;position:relative;vertical-align:middle;width:100%!important;}
.select2-container .select2-selection--multiple{box-sizing:border-box;cursor:pointer;display:block;min-height:32px;user-select:none;-webkit-user-select:none;}
.select2-container .select2-selection--multiple .select2-selection__rendered{display:inline-block;overflow:hidden;padding-left:8px;text-overflow:ellipsis;white-space:nowrap;}
.select2-container .select2-search--inline{float:left;}
.select2-container .select2-search--inline .select2-search__field{box-sizing:border-box;border:none;font-size:100%;margin-top:5px;padding:0;}
.select2-hidden-accessible{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important;}
.select2-container--default .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:3px;cursor:text;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:100%;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{list-style:none;}
.select2-container--default .select2-search--inline .select2-search__field{background:transparent;border:none;outline:0;box-shadow:none;-webkit-appearance:textfield;}
/*! CSS Used from: /bower_components/admin-lte/dist/css/AdminLTE.min.css */
*{box-sizing:border-box;}
.content{min-height:250px;padding:15px;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
h3,h4{font-family:'Source Sans Pro', sans-serif;}
a{color:#337ab7;}
a:hover,a:active,a:focus{outline:none;text-decoration:none;color:#23527c;}
.form-control{border-radius:3px;box-shadow:none;border-color:#d2d6de;}
.form-control:focus{border-color:#3c8dbc;box-shadow:none;}
.form-control::-moz-placeholder,.form-control:-ms-input-placeholder,.form-control::-webkit-input-placeholder{color:#bbb;opacity:1;}
.form-control:not(select){-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.box{position:relative;border-radius:3px;background:#ffffff;border-radius:5px;-webkit-box-shadow:0 1px 20px 0 rgba(69, 90, 100, 0.08);box-shadow:0 1px 20px 0 rgba(69, 90, 100, 0.08);margin-bottom:20px;width:100%;}
.box-padTB{padding-top:15px;padding-bottom:15px;}
.btn{border-radius:3px;-webkit-box-shadow:none;box-shadow:none;border:1px solid transparent;}
.btn:active{-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);-moz-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);}
.btn:focus{outline:none;}
.btn-primary{background-color:#3c8dbc;border-color:#367fa9;}
.btn-primary:hover,.btn-primary:active{background-color:#367fa9;}
.select2-container--default:focus,.select2-selection:focus,.select2-container--default:active,.select2-selection:active{outline:none;}
.select2-search--inline .select2-search__field{border:1px solid #d2d6de;}
.select2-search--inline .select2-search__field:focus{outline:none;}
.select2-container--default .select2-selection--multiple{border:1px solid #d2d6de;border-radius:3px;height:100%;}
.select2-container--default .select2-selection--multiple:focus{border-color:#3c8dbc;}
.form-group{margin-bottom:15px;}
.grid{width:100%;float:left;}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;}
.select2-selection--multiple{overflow:inherit;}
th.prf{width:30%;font-size:17px;font-weight:500;margin-left:15px;display:inline-block;border:1px solid #acacac4f;text-align:center;line-height:40px;color:#434343;height:40px;margin-bottom:5px;overflow:hidden;height:auto;padding:7px 2%;box-shadow:0px 2px 5px rgba(0, 0, 0, 0.05);}
.inst-nam h4{margin:0;}
.inst-nam{background:#fff;position:relative;top:-29px;padding:9px 11px;width:100%;display:inline-block;box-shadow:0px 2px 5px rgba(0, 0, 0, 0.05);}
.filt-bt{margin-top:25px;}
.checkk000{top:7px!important;margin-left:1%;}
.inst-nam span{float:left;margin-right:3px;color:#134a51;font-weight:500;padding-bottom:4px;display:block;width:100%;}
.inst-nam h4{font-size:17px;transition:all .15s linear;}
.prfot-box li h3{float:left;color:#cdf7ff;margin-top:0;margin-bottom:10px;font-size:16px;font-weight:600;}
.proft-re{padding:37px 20px;}
.prfot-box{background:#26c6da;transition:all .15s linear;box-sizing:border-box;padding:18px 16px;border-radius:10px;margin-bottom:17px;padding-bottom:19px;height:100%;min-height:auto;display:inline-block;}
.proft-re table{display:inline-block;width:100%;}
.prfot-box:hover{background:#1e8591;}
.prfot-box.colo-in:hover{background:#285d62;}
.inst-nam h4:hover{transform:translateY(-4px);color:#369aa4;}
.inst-nam .fa:hover{transform:translateY(-2px);}
.prfot-box.colo-in{background:#1ca1b2;}
.prfot-box li span{font-size:17px;font-weight:lighter;color:#fff;float:right;}
.colo-in li span{color:#fff;float:right;}
.prfot-box.colo-in li h3{color:#b3f2fa;float:left;font-weight:400;}
.prfot-box li{float:left;list-style-type:none;width:100%;}
.prfot-box ul{padding:0;margin:0;}
.inst-nam .fa{color:#076672;transition:all .15s linear;}
.chc{display:block;position:relative;padding-left:35px;margin-bottom:1px;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.chc input{position:absolute;opacity:0;cursor:pointer;}
.checkmark{position:absolute;top:9px;left:15px;height:17px;width:18px;background-color:#dedede;}
.chc:hover input ~ .checkmark{background-color:#ccc;}
.chc input:checked ~ .checkmark{background-color:#2196F3;}
.checkmark:after{content:"";position:absolute;display:none;}
.chc input:checked ~ .checkmark:after{display:block;}
.chc .checkmark:after{left:7px;top:3px;width:5px;height:10px;border:solid white;border-width:0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.row{margin-right:-5px;margin-left:-5px;}
.content .box{box-sizing:border-box;}
.content .box{padding-bottom:16px;}
.proft-re tr{width:100%;float:left;}
.proft-re tbody{width:100%;display:inline-block;}
.proft-re tr{width:100%;float:left;padding:0 16px;}
.chc input{position:absolute;opacity:0;cursor:pointer;}
.chc input{position:absolute;opacity:0;cursor:pointer;}
@media screen and (max-width: 1650px){
.prfot-box li h3{font-size:16px;}
th.prf{width:31%;font-size:24px;}
.prfot-box{padding:9% 7%;min-height:222px;}
th.prf{font-size:17px;}
.inst-nam h4{font-size:15px;}
.inst-nam span{margin-right:0;}
}
@media screen and (max-width: 1500px){
.prfot-box li h3{font-size:14px;}
.prfot-box li span{font-size:15px;}
th.prf{font-size:17px;}
.prfot-box{min-height:144px;}
}
@media screen and (max-width: 1400px){
th.prf{width:31%;}
.prfot-box{min-height:188px;}
.inst-nam h4{font-size:14px;}
}
@media screen and (max-width: 1330px){
@media screen and (max-width: 1300px){
.prfot-box li span{padding-left:0;}
th.prf{font-size:15px;}
.prfot-box{min-height:175px;}
.prfot-box li h3{font-size:13px;}
.prfot-box li span{font-size:13px;}
.inst-nam{padding:9px 4px;}
}
@media screen and (max-width: 1210px){
.prfot-box li h3{font-size:13px;}
.prfot-box li span{font-size:13px;}
th.prf{font-size:15px;}
.prfot-box li h3{font-size:13px;}
.prfot-box li span{font-size:13px;}
}
@media screen and (max-width: 1210px){
.prfot-box li h3{font-size:13px;}
.prfot-box li span{font-size:13px;}
th.prf{font-size:15px;}
.prfot-box li span{padding-left:0;}
.prfot-box{padding:9% 5%;}
}
@media screen and (max-width: 1125px){
th.prf{width:36%;}
}
@media screen and (max-width: 1085px){
th.prf{width:30%;font-size:16px;}
.prfot-box li h3{font-size:15px;}
}
@media screen and (max-width: 1030px){
th.prf{width:46%;font-size:15px;}
}
@media screen and (min-width:990px){
.filt-bt{margin-top:41px;}
}
@media screen and (max-width: 980px){
th.prf{font-size:15px;width:46%;}
.proft-re{padding:4% 20px;}
.filt-bt{margin-top:41px;}
}
@media screen and (max-width: 850px){
th.prf{width:44%;font-size:14px;}
.prfot-box{min-height:97px;}
}
@media screen and (max-width: 700px){
.prfot-box{padding:5% 7%;}
.prf-re{margin-left:0!important;}
th.prf{font-size:15px;width:100%;}
}
@media screen and (max-width: 650px){
table{max-width:100vw;border-collapse:collapse;}
}
th.prf{width:100%;font-size:17px;display:inline-block;text-align:center;margin-bottom:8px;}
.select2-container{width:100%!important;}
.select2-container .select2-selection--multiple{overflow:hidden!important;box-sizing:border-box;}
}
/*! CSS Used from: https://investment.test/admin.css */
.grid{width:100%;float:left;}
.content .box{margin-bottom:30px;display:inline-block;}
.content{width:100%;float:left;background-color:#ecf0f5;}
/*! CSS Used from: Embedded */
.page_speed_1059706490{width:100%;padding:5px!important;line-height:22px!important;padding-left:0!important;}
/*! CSS Used fontfaces */
@font-face{font-family:'FontAwesome';src:url('/bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');src:url('/bower_components/font-awesome/fonts/fontawesome-webfont.eot#iefix&v=4.7.0') format('embedded-opentype'),url('/bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('/bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('/bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('/bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}