APP_NAME="Investor portal"
APP_ENV=testing
APP_KEY=base64:/eh1uTc4Y3bVGhO7jdwCB74fCBXQVv9EUltqQL1kDgA=
APP_DEBUG=true
DEBUGBAR_ENABLED=false
APP_LOG_LEVEL=debug
APP_URL=http://investorportal.test

DB_CONNECTION=mysql
DB_HOST=db-mysql-nyc1-87315-do-user-7427574-0.b.db.ondigitalocean.com
DB_PORT=25060
DB_DATABASE=investorportal_test
DB_USERNAME=doadmin
DB_PASSWORD=fd63wvy3cf4vsd5q

MONGO_DB_HOST=127.0.0.1
MONGO_DB_PORT=27017
MONGO_DB_DATABASE=IP
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=ce4ec0bb9ed5df
MAIL_PASSWORD=0b285a85464d63
MAIL_ENCRYPTION=tls

BROADCAST_DRIVER=pusher
SESSION_DRIVER=file
QUEUE_CONNECTION=database
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=AKIAI3BMR5NLP324FBBA
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=investor-portal

API_DATALOGGER=1

crm_user_name = creative_user
crm_password = creative_pass
crm_url = "https://www.mca.media/dev/"


STRIPE_KEY=pk_test_51HqiUtJhINMVUPttD9DyWlwRR8lDsuNZyg2z97SK6iR11mGuzgbUgv0nllCpZd9YgMcqNoRKq4E2abMkLWdJgAzE00umaC2PbZ
STRIPE_SECRET=sk_test_51HqiUtJhINMVUPttDG205Pvr7If3haphoTZ4MoaRzh0ezNc01Ian2Hdsw8nnsaWTWMLV7FLQ7vlb9B0Tzk9y5UFd00KpwtBXQB


ACH_USER_ID=449

MERCHANT_APP_ID=78ded760-d95d-45f0-98a7-5449f2b4bf92
CHANNEL_OFFER_ID=232d5637-bc29-4c3a-8b87-e179a1601c94
MERCHANT_PAYMENT_CHANNEL_ID=a0ca5048-783a-4a51-b26f-cc46795d1db5


ACTUM_PARENT_ID_MERCHANT=ACTUM
ACTUM_SUB_ID_MERCHANT=VGTEST
ACTUM_USERNAME_MERCHANT=VGTEST
ACTUM_PASSWORD_MERCHANT=iocod123

ACTUM_PARENT_ID_INVESTOR_TO_VELOCITY=ACTUM
ACTUM_SUB_ID_INVESTOR_TO_VELOCITY=VGTEST
ACTUM_USERNAME_INVESTOR_TO_VELOCITY=VGTEST
ACTUM_PASSWORD_INVESTOR_TO_VELOCITY=iocod123

ACTUM_PARENT_ID_VELOCITY_TO_INVESTOR=ACTUM
ACTUM_SUB_ID_VELOCITY_TO_INVESTOR=VGTEST
ACTUM_USERNAME_VELOCITY_TO_INVESTOR=VGTEST
ACTUM_PASSWORD_VELOCITY_TO_INVESTOR=iocod123


LARAVEL_LOAD_HOST=db-mysql-nyc1-87315-do-user-7427574-0.b.db.ondigitalocean.com

LARAVEL_LOAD_PORT=25060

LARAVEL_LOAD_DATABASE=investorportal_test

LARAVEL_LOAD_USER=testing

LARAVEL_LOAD_PASSWORD=Wkz4FU08InNJjd9T

LARAVEL_LOAD_PATH='www/var'




SENTRY_LARAVEL_DSN=https://7f9e32254087411dbef78817a47ac399@o810547.ingest.sentry.io/5805038
SENTRY_TRACES_SAMPLE_RATE=1
