/node_modules
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
/.idea
/.vagrant
_ide_helper.php
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env2
.env.cypress
.phpunit.result.cache
/nbproject/private/
public/js/app.*.js
public/css/app.*.css
public/mix-manifest.json
public/js/app.js.LICENSE.txt
public/vue
public/signature/*
!public/signature/.gitkeep
public/*.worker.js
.vscode
public/*.LICENSE.*
.DS_Store
*/.DS_Store
**/.DS_Store
fet.*
database/database_modification.sql
app/Http/Controllers/MyController.php
db/*
package-lock.json
phpunit.xml
.env.testing
