@mixin link {
    color: $linkClr;
    text-decoration: none;
}
@mixin linkHover {
    color: $linkHover;
}
@mixin linkFocus {
    color: $linkFocus;
}
@mixin exactActiveLink {
    color: $linkActive;
    $rd: 55px;
    background-color: $active;
    border-radius: 0 $rd $rd 0;;
    box-shadow: -80px 0 0 0 $active;
    &.collapsed{
        box-shadow: -40px 0 0 0 $active;
    }
}
@mixin activeLink {
    @include exactActiveLink;
    
}