
 $mainBg:none;
 $subPadding:25px;

 $subBg:rgba(250,250,250,0.08);
 $openDivider:$subBg;
 $subClr:inherit;
 $titleClr:white;
 $arrowClr:$titleClr;
 $titleHover:#999;
 
//  Router link colors
 $linkClr: #242E3B;
 $linkHover: #3246d3;   
 $active:#3246D3;
 $linkActive: #fff;
 $linkFocus: $linkHover;

//  breakpoints
$md:650px;