.detailed-get-started .usertype ul{
      padding-left: 3rem;
}
.detailed-get-started .usertype ul li a{
      color: #232323;
      font-weight: bold;
      
}
.detailed-get-started div a{
      color: #232323;
      
}