@import '~/mixins.scss';
.alert-bg{
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #fff, $alpha: 0.8);
    @include flex-center;
}
.alert-box{
    background: white;
    box-shadow: 0 0 60px #EAEBF2;
    width: 700px;
    min-height: 350px;
    border-radius: 10px;
    .sec{
        padding: 20px 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &.msg{
            .img{
                color: transparent;
                $ofst: 150px;
                height: $ofst;
                width: $ofst;
                background: #FCFCFC;
                border-radius: 50%;
                border: 1px solid #EEE;
                outline: none;
            }
            .msg-text{
                text-align: center;
                color: #DE3B51;
                margin: 10px 0 0;
                font-size: 24px;
            }
        }
        &.user-input{
            color: #929497;
            background: #FBFBFF;
            font-size: 20px;
            border: 1px solid;
            border-color: #EEEEF1 transparent #EEEEF1 transparent;
            position: relative;
            .check{
                text-align: center;
                cursor: pointer;
                user-select: none;
                line-height: 30px;
                .check-box{
                    $ofst:25px;
                    height: $ofst;
                    width: $ofst;
                    border: 2px solid #B9BFCC;
                    border-radius: 4px;
                    margin-right: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 17px;
                    cursor: pointer;
                    .tick{
                        opacity: 0;
                    }
                    &.active .tick{
                        opacity: 1;
                    }
                }
            }
            $errcl: #ff4a4a;
            .error{
                color: $errcl;
                margin: 0;
                border-color: $errcl;
            }
            .line{
                margin-bottom: 10px;
                &.error{
                    border-color: $errcl;
                }
            }
            .input-group{
                background: white;
                border: 1px solid #E6E6E6;
                display: flex;
                border-radius: 10px;
                height: 40px;
                min-width: 200px;
                overflow: hidden;
                box-shadow: 0 0 20px #0105810D;
                position: relative;
                padding: 0  17.5px;
                flex-wrap: nowrap;
                .sign{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    align-self: flex-start;
                    justify-content: center;
                    flex-shrink: 0;
                }
                input.input-amount{
                    border: none;
                    flex-shrink: 0;
                    width: 100%;
                    height: 100%;
                    flex-grow: 1;
                    font-size: 17px;
                    color: inherit;
                    text-align: center;
                    outline: none;
                    white-space: nowrap;
                    display: flex;
                }
            }
        }
        &.submit{
            $py: 40px;
            padding-top: $py;
            padding-bottom: $py;
            flex-direction: row;
            .blue-bt{
                width: 250px;
                height: 50px;
                line-height: 50px;
                font-size: 15px;
                &.credit-card-payment-link{
                    $cl: #e56576;
                    text-decoration: none;
                    padding: 0;
                    border-radius: 7px;
                    text-align: center;
                    margin-left: 30px;
                    background: $cl;
                    box-shadow: 0 11px 23px -8px $cl;
                    color: white;
                }
            }
        }
    }
}