@import './global.scss';
@import './dataTable.scss';

.block-loader{
    position: fixed;
    background: #ffffffbd;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #4d4d4d;
}