/* Global Styles */
/* Coded By SK */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$red : #d33724;

html,
body                        { height: 100%; padding: 0; margin: 0; font-family: 'Lato',Helvetica,Arial,sans-serif;  }
body                        { padding: 0;  background: #F9FBFC; }
h1,h2,h3,h4,h5,h6           { margin: 0 0 10px; color: #2A4A76; letter-spacing: 0.01em;   font-weight: 700; display: block; width: 100%;}
p                           { margin: 0 0 25px; font-size: 16px; line-height: 28px; color:#5B5C67; }
a, i, button                {  outline: none }
a:focus, i:focus, button:focus { outline: none }
a:hover, a:focus            { text-decoration: none; color: #11505d; outline: none;}
ul, li                      { list-style: none; padding: 0}
textarea:focus, 
input:focus                 { outline: 0;}
.img                        { overflow: hidden; }
.img img                    { max-width: 100%; height: auto; }
input, textarea, button, div, section { box-sizing: border-box;}
button, a                   {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out;
}
a { color: #000;}
.img img{
  max-width: 100%;
  height: auto;
  display: flex;
}
.btn {
    background: #FA5440;
    color: #fff;
    padding: 8px 35px;
    border-radius: 45px;
    font-weight: 700;
    &:hover {
        background: #d33724;
        color: #fff;
    }
}


// header Style
.navbar { 
    display: flex; 
    background: #fff; 
    align-items: center; 
    justify-content: space-around;
    padding: 20px 0;
    .container { 
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        padding: 0 15px;
    }
    .navbar-collapse {
        flex-grow: 0;
    }
    .navbar-toggler {
        background:transparent;
        border: 0;
        padding: 5px;
    }
    .menu-right { 
        display: flex; 
        align-items: center; 
        justify-content: space-between;
        form {
            position: relative;
            display: flex;
        }
        .search-field {
            background: #EFF6F9;
            border: 1px solid #E4EEF2;
            border-radius: 45px;
            padding: 5px 15px;
            color: #484B5D;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #CED8E6;
            }
            &::-moz-placeholder { /* Firefox 19+ */
            color: #CED8E6;
            }
            &:-ms-input-placeholder { /* IE 10+ */
            color: #CED8E6;
            }
            &:-moz-placeholder { /* Firefox 18- */
            color: #CED8E6;
            }
        }
        .search-btn {
            position: absolute;
            right: 0;
            top: 0;
            color: transparent;
            background: url(../images/search-icon.png) no-repeat center;
            width: 35px;
            height: 35px;
            border: 0;
            border: 0;
            -webkit-transition: all 0s ease-in-out; -moz-transition: all 0s ease-in-out; transition: all 0s ease-in-out;
        }
     }
     .menu-right ul { 
        align-items: center;
        margin: 0;
        li {
            padding: 0 0 0 20px;
            &.active,&:hover{
                a{
                    color: #484B5D;
                }
            }
            a {
                color: #484b5dac;
                font-size: 16px;
                font-weight: 700;
                
            }
            &.login a {
                background: #FA5440;
                color: #fff;
                padding: 8px 35px;
                border-radius: 45px;
                display: flex;
                -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
                &:hover {
                    background: #d33724;
                    
                }
            } 
            &.user {
                a{
                    color: #01357d;
                    display: flex;
                    align-items: center;
                }
                .name {
                    display: flex;
                    height: 100%;
                }
                .avatar {
                    width: 35px;
                    height: 35px;
                    background:#eff6f9;
                    border: 1px solid #E4EEF2;
                    border-radius: 100%;
                    margin: 0 0 0 10px;
                    padding: 0;
                    text-align: center;
                    line-height: 27px;
                    svg {
                        width: 15px;
                        fill: #98a8bd;
                    }
                }
                .dropdown-menu {
                    border: 1px solid rgb(234, 239, 245);
                    right: 0;
                    left: auto;
                    margin: 23px 0 0;
                    box-shadow: rgba(6, 25, 149, 0.05) 0 3px 30px 0 ;
                    li {
                        padding: 0;                     
                        a {
                            color: #484B5D;
                            padding: 5px 20px; 
                        }
                    }
                }
                .dropdown-toggle::after {
                    display: none;
                }
            }

        }
    }
}

.banner {
    position: relative;
    .caption {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        height: 100%;        
        justify-content: start;
        text-align: left;
        width: 100%;
        h1 {
            font-size: 48px;
            color: #40424A;
        }
        p{
            font-size: 28px;
            color: #807F84;
        }
        .btn {
            background:#FA5440;
            color: #fff;
            font-size: 16px;
            letter-spacing: 0.07em;
            border-radius: 45px;
            padding: 8px 45px;
            &:hover {
                background: #d33724;                
            }           
        }
    }
    img {
        width: 100%;
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        font-size: 26px;
        color: #40414D;
        margin: 10px 0;
    }
    .btn {
        display: flex;
        background: #EDF1F5;
        color: #80808E;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        white-space: nowrap;
        border-radius: 45px;
        padding: 10px 40px;
        &:hover {
            background: #d33724; 
            color: #fff;              
        } 
    }
}

.content-area {
    padding: 40px 0;
}

.marketplace-wrapper { 
    padding: 25px 0;
   .marketplace {
       background: #fff;
       margin: 0 0 40px;
       box-shadow: rgba(6, 25, 149, 0.02) 0 3px 30px 0 ;
       .img {
           overflow: hidden;
     
           img {
               width: 100%;
               justify-content: center;
    align-items: center;
    height: 270px;
    background-color: #e8e8e8;
    display: flex;
           }
       }
       .content {
           padding: 25px;
           h3 {
                font-size: 18px;
                margin: 0 0 3px;
                color: #6A6B78;
                -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
                &:hover{
                    color: #FA5440;
                }
            }
            p {
                font-size: 16px;
                color: #B4BECC;
                margin: 0 0 10px;
                .get {
                    color: #87909E;
                    font-size: 18px;
                    margin: 0 7px 0 0;
                }
                .total {
                    color:#FA5440;
                    font-size: 18px;
                    margin: 0 0 0 7px;
                }
            }
           .brand-date {
               color: #9E9FAA;
               font-size: 14px;
               display: flex;
               margin: 10px 0 5px;
               justify-content: space-between;
               .brand {
                    color: #9E9FAA;
                    -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
                    &:hover {
                        color: #666;
                    }
                }
            }
        }
    } 
    .load-more-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .load-more-btn {
            display: flex;
            background: #EDF1F5;
            color: #80808E;
            text-transform: uppercase;
            letter-spacing: 0.07em;
            white-space: nowrap;
            border-radius: 45px;
            padding: 10px 45px;
            &:hover {
                background: #d33724; 
                color: #fff;              
            } 
        }
    }   
}

.bar-outer {
    margin: auto;
    height: 6px;
    background-color: #EEF2F3;
    border-radius: 2rem;
    padding: 0;
    display: grid;
    box-sizing: border-box;
    .bar-inner {
        width: 0;
        height: 100%;
        background-color: #F89950;
        margin: auto 0;
        border-radius: 1rem;
    }
    .percent { 
        font-size: 5rem; 
    }
}



footer {
    background: #fff;
    padding: 50px 0 10px;
    .title {
        color:#6A6B78;
        font-size: 17px;
        text-transform: uppercase;
        margin: 0 0 10px;
        text-align: left;
        font-weight: 700;
    }
    .footer-menu {
        margin: 0;
        li {
            padding: 4px 0;
            a {
                color: #9E9FAA;
                font-size: 16px;
                &:hover {
                    color: #d33724;              
                } 
            }
        }
    }
    .social {
       display: flex; 
       li {
            margin: 0 23px 0 0;
            a svg path {
                -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
            }
            a:hover svg path {
               fill:#898FA8;
           }
       }

    }
    .footer-top hr {
        border-top: 1px solid #EDF1F5;
        margin: 50px 0 30px;
    }
    .copyright {
        font-size: 16px;
        color: #c6c8d0;
    }
}



#nav-icon{
  width: 30px;
  height: 25px;
  position: relative;
  margin: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #40414d;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* Icon 3 */
#nav-icon span:nth-child(1) {
  top: 0px;
}
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 10px;
}
#nav-icon span:nth-child(4) {
  top: 20px;
}
#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}





.sub-header {
    background: #EDF1F5;
    padding: 40px 0 25px;
    .heading {
        display: flex;
        flex-direction: column;
        h1 {
            color: #40414D;
            font-size: 24px;
            margin: 0 0 5px;
        }
        p {
            width: 100%;
            margin: 0 0 15px;
            font-size: 19px;
            color: #A5A9B1;
        }
    }
    .marketplace-banner {
        overflow: hidden;
        img {
            width: 100%;
        }
    }  
    .price-wrapper {
        background: #fff;
        padding: 40px;
        display: flex;
        height: 100%;
        flex-direction: column;
        .title {
            color: #A7ACBE;
            font-size: 16px;
            text-transform: uppercase;
            display: flex;
            justify-content: space-between;
        }
        a.show-details {
            color: #A7ACBE;
            text-decoration: underline;
            text-transform: none;
            margin: 10px 0 0;
        }
        .price {
            color: #FA5440;
            font-size: 32px;
            font-weight: 700;
            margin: 10px 0 15px;
        }
        
        .goal-price {
            color: #40414D;
            font-size: 24px;
            font-weight: 700;
            span {
                color:#A7ACBE;
                font-weight: normal;
            }
        }
        .funder-count-wrap {
            display: flex;
            padding: 20px 0;
            border: solid #EDF1F5;
            border-width: 1px 0; 
            margin: 5px 0 15px; 
            .funder-count,
            .days-left {
                width: 50%;
                span {
                    color: #A7ACBE;
                    font-size: 15px;
                }
                p {
                    color: #40414D;
                    font-size: 24px;
                    font-weight: 700;
                    margin: 0;
                }
            }
            .days-left {
                text-align: right;
            }
        }

        .percentage-bar-wrap {
            margin: 20px 0;
            .bar-outer {
                height: 10px;
            }
            .value {
                color: #A7ACBE;
                font-size: 16px;
                margin: 5px 0 0;
                display: flex;
            }
        }
        .btn {
            align-self: baseline;
            margin: auto 0 0;
            width: 100%;
            padding: 10px 25px;
            font-size: 18px;
        } 
        &.zero-days {
            text-align: center;
            .price {
                color: #78CC30;
            }
            .img {
                margin: 10px auto ;
            }
            .donut-chart {
                width: 120px;
                height: 120px;
                display: flex;
                border-radius: 100%;
                border: 10px solid #78CC30; 
                display: flex;
                margin: 0 auto;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .percentage {
                    font-size: 26px;
                    font-weight: 700;
                    color: #878886;
                }
                .text {
                    font-size: 15px;
                    color: #A7ACBE;
                }
            }
            .message {
                color: #A7ACBE;
                font-size: 16px;
                margin: 10px 0 18px 0;
            }
            .btn-grey {
                background: #eee;
                color: #9B9DAA;  
                &:hover {
                    background: #FA5440;
                    color: #fff;
                }
            }
        } 
        &.days-ended {
            .img {
                margin: 30px ​auto 10p ;
            }
            .price {
                color: #FA5440;    
            }
        }  
    }

    .banner-tags-row  {
        padding: 15px 0 0;
        .brand {
            p {
                font-weight: 700;                
                font-size: 16px;
                a {
                    color: #40414D;
                    &:hover {
                        color: #000;
                    }
                }
                span {
                    font-size: 14px;
                    color: #BFC4CE;
                    font-weight: normal;
                    padding: 0 0 0 5px;
                }
            }
        }
        .tags-wrap {
            text-align: right;
            display: flex;
            justify-content: flex-end;
            p {
                font-size: 16px;
                color: #A5A9B1;
                display: flex;
                justify-content: flex-end;
                padding: 0 0 0 20px;
                margin: 0;
                span {
                    display: inline-block;
                }
                a {
                    color: #A5A9B1;  
                    &:hover {
                        color: #40414D;
                    }
                }
                i {
                    display: inline-block;
                    height: 25px;
                    width: 20px;
                    background: url(../images/sprite.png);
                    margin: 0 5px 0 0;
                    &.map {
                        background-position:  -20px 0px;
                    }
                }
            }            
        }
    }
}


.content-left {
    img {
        max-width: 100%;
        margin: 0 0 25px;
    }
}

.right-bar {
    .side-bar {
        background: #fff;
        padding: 30px 35px;
        display: flex;
        flex-direction: column;
        .title {
            font-size: 20px;
            font-weight: 700;
            color: #40414D;
        }
        ul {
            border: solid #EDF1F5;
            border-width: 1px 0;
            margin: 15px 0;
            padding: 13px 0 0;
            li {
                display: flex;
            }
            .img {
                width: 60px;
                height: 60px;
                background: #EEF3FA;
                border-radius: 100%;
                overflow: hidden;
            }
            .content {
                padding: 0 0 0 15px;
                .name {
                    margin: 3px 0 0;
                    color: #747687;
                    font-weight: 700;
                    font-size: 16px;
                }
                .price {
                    color: #40414D;
                    font-size: 16px;
                    font-weight: 700;
                    margin: 0;
                    padding: 0 0 17px;
                    span {
                        color: #A5A9B1;
                        font-weight: normal;
                        padding: 0 0 0 5px;
                        font-size: 14px;
                        &:before {
                            content: "-";
                            margin: 0 10px 0 0;
                            color: #ddd;
                        }
                    }
                }
            }
        }
        .read-more {
            float: right;
            font-weight: 700;
            font-size: 14px;
            color: #40414D;
            width: auto;
            text-decoration: underline;
            display: flex;
        }
    }
    .sidebar-social {
        border-bottom: 2px solid #EEF3FA;
        margin: 0 0 30px;
        display: flex;
        text-align: right;
        justify-content: flex-end;
        .title {
            font-weight: 700;
            font-size: 16px;
            color: #40414D;
            margin: 10px 25px 15px;
            float: left;
            
        }
        ul.social {
            margin: 8px 0 0;
            float: left;
            height: 30px;
            
            li {
                float: left;
                margin: 0 8px 0 0;
            }
            a {
                float: left;
            }
            i {
                float: left;
                width: 30px;
                height: 30px;
                background: url(../images/sprite.png);
                &.whatsapp {
                    background-position:  -43px 0px;
                }
                &.facebook {
                    background-position:  -73px 0px;
                }
                &.twitter {
                    background-position:  -103px 0px;
                }
                &.email {
                    background-position:  -133px 0px;
                }
            }
        }
    }
}

#tab-container {
    &.skltbs {
        margin: 0 !important;
    }
    .skltbs-panel-group{
        background: transparent;
        padding: 0;
    } 
    .skltbs-panel {
        background: transparent;
        padding: 20px 0;
    }
    .skltbs-tab-group {
        border-bottom: 2px solid #EEF3FA;
    }
    .skltbs-tab-item {
        margin: 0;
        background: transparent;
    }
    .skltbs-tab {
        padding: 12px 0;
        margin: 0 40px -2px 0;
        background: transparent;
        font-size: 16px;
        font-weight: 700;
        color: #40414D;
        outline: 0 !important;
        &.skltbs-active {
            border-bottom: 2px solid #ddd;
            outline: 0 !important;
        }
        &:focus {
            outline: 0 !important;   
        }
    }
}


#accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0px;
  }
  #accordion a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #b42b2b;
    text-decoration: none;
  }
  #accordion .panel-heading a.collapsed:hover,
  #accordion .panel-heading a.collapsed:focus {
    background-color: #b42b2b;
    color: white;
    transition: all 0.2s ease-in;
  }
  #accordion .panel-heading a.collapsed:hover::before,
  #accordion .panel-heading a.collapsed:focus::before {
    color: white;
  }
  #accordion .panel-heading {
    padding: 0;
    border-radius: 0px;
    text-align: center;
  }
  #accordion .panel-heading a:not(.collapsed) {
    color: white;
    background-color: #b42b2b;
    transition: all 0.2s ease-in;
  }
  
  /* Add Indicator fontawesome icon to the left */
  #accordion .panel-heading .accordion-toggle::before {
    font-family: 'FontAwesome';
    content: '\f00d';
    float: left;
    color: white;
    font-weight: lighter;
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
  }
  #accordion .panel-heading .accordion-toggle.collapsed::before {
    color: #444;
    transform: rotate(-135deg);
    transition: all 0.2s ease-in;
  }









.comment-header {    
    margin: 0 0 15px;
}


  #fbcomment{
    background:#fff;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    color: #4b4f56;
    padding:50px;
  }
  .header_comment{
      font-size: 14px;
      overflow: hidden;
      border-bottom: 1px solid #e9ebee;
      line-height: 25px;
      margin-bottom: 0;
      padding: 10px 0 20px;
  }
  .sort_title{
    font-weight: 700;
    color: #A7ACBE;
    margin: 0 5px 0 0;
  }
  .sort_by{
    background-color: #edf1f5;
    color:#a7a9b3;
    line-height: 22px;
    cursor: pointer;
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    padding: 4px 8px;
    justify-content: center;
    border-radius: 45px;
    border: 1px solid #d4dce4;
  }
  .count_comment{
    font-weight: 700;
    color: #A7ACBE;
  }
  .body_comment{
      padding: 0 8px;
      font-size: 14px;
      display: flex;
      width: 100%;
      line-height: 25px;
      word-break: break-word;
  }
  .avatar_comment{
    display: block;
  }
  .avatar_comment img{
    height: 48px;
    width: 48px;
  }
  .box_comment{
      display: block;
      position: relative;
      line-height: 1.358;
      word-break: break-word;
      border: 1px solid #d3d6db;
      word-wrap: break-word;
      background: #fff;
      box-sizing: border-box;
      cursor: text;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 16px;
      padding: 0;
  }
  .box_comment textarea{
      min-height: 40px;
      padding: 12px 8px;
      width: 100%;
      border: none;
      resize: none;
  }
  .box_comment textarea:focus{
    outline: none !important;
  }
  .box_comment .box_post{
      border-top: 1px solid #d3d6db;
      background: #f5f6f7;
      padding: 8px;
      display: block;
      overflow: hidden;
  }
  .box_comment label{
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    color: #90949c;
    line-height: 22px;
  }
  .box_comment button{
    margin-left:8px;
    background-color: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    text-decoration: none;
    line-height: 22px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-align: center;
  }
  .box_comment button:hover{
    background-color: #29487d;
    border-color: #29487d;
  }
  .box_comment .cancel{
      margin-left:8px;
      background-color: #f5f6f7;
      color: #4b4f56;
      text-decoration: none;
      line-height: 22px;
      border-radius: 2px;
      font-size: 14px;
      font-weight: bold;
      position: relative;
      text-align: center;
    border-color: #ccd0d5;
  }
  .box_comment .cancel:hover{
      background-color: #d0d0d0;
      border-color: #ccd0d5;
  }
  .box_comment img{
    height:16px;
    width:16px;
  }
  .box_result{
    margin-top: 24px;
  }
  .box_result .result_comment h4{
    font-weight: 600;
    white-space: nowrap;
    color: #365899;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.358;
    margin:0;
  }
  .box_result .result_comment{
    display:block;
    overflow:hidden;
    padding: 0;
  }
  .child_replay{
      border-left: 1px dotted #d3d6db;
      margin-top: 12px;
      list-style: none;
      padding:0 0 0 8px
  }
  .reply_comment{
      margin:12px 0;
  }
  .box_result .result_comment p{
    margin: 4px 0;
    text-align:justify;
  }
  .box_result .result_comment .tools_comment{
    font-size: 12px;
    line-height: 1.358;
  }
  .box_result .result_comment .tools_comment a{
    color: #4267b2;
    cursor: pointer;
    text-decoration: none;
  }
  .box_result .result_comment .tools_comment span{
    color: #90949c;
  }
  .body_comment .show_more{
    background: #3578e5;
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    margin-top: 24px;
    padding: 12px;
    text-shadow: none;
    width: 100%;
    font-weight:bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
  }

.comment-form {
    .form-control {
        border: 1px solid #e2e8f1;
        height: 160px;
        padding: 15px 20px;
        margin: 0 0 20px ;
        &::-webkit-input-placeholder { 
            color: #A5A9B1;
            font-style: italic;
        }
        &::-moz-placeholder { 
            color: #A5A9B1;
            font-style: italic;
        }
        &:-ms-input-placeholder { 
            color: #A5A9B1;
            font-style: italic;
        }
        &:-moz-placeholder { 
            color: #A5A9B1;
            font-style: italic;
        }
    }
    .btn-submit {
        float: right;
    }
}



.faq-accordian-wrap {
    .card-header {
        background-color: rgb(241, 245, 247);
        border-bottom: 1px solid rgb(238, 243, 250);
    }
    h3{
      display: flex;
    }  
    .btn-link {
        border: 0;
        width: 100%;
        text-align: left;
        padding: 0;    
        font-size: 20px;
        font-weight: 700;
        color: #40414D;
        background: transparent;
        &:hover {
            text-decoration: none;
            color: #000;
        }
    }
}

.login-outer {
    text-align: center;
    h1 {
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 20px;
    }
    .login-wrap {
        background: #fff;
        padding: 25px 45px;
        max-width: 500px;
        display: flex;
        text-align: left;
        margin: 10px auto 25px;
        flex-direction: column;
    }
    .form-group {
        margin: 10px 0 5px;
        display: flex;
        flex-direction: column;
        label {
            color: #484B5D;
            font-size: 17px;
            font-weight: 700;
            &.error{
                color: $red;
            }
        }
        .form-control {
            background: #EFF6F9;
            border: 1px solid #E4EEF2;
            border-radius: 45px;
            padding: 8px 15px;
            height: 42px;
        }
    }
    a.forgot-pass { 
        font-size: 15px;
        color: #A0A3B2;
        text-decoration: underline;
        margin: 10px 0 5px;
    }
    .btn { 
        margin: 20px 0 0;
    }
    .new-here {
        text-align: center;
        font-size: 17px;
        color: #A2A5B7;
        margin: 20px 0 20px ;
        font-weight: 700;
        a {
            color: #484B5D;
            text-decoration: underline;
        }
    }
}

.marketplace-header {
    background:#EDF1F5;
    display: flex;
    text-align: center;
    padding: 50px 0;
    h1 {
        font-size: 30px;
    }
    p{
        font-size: 22px;
        color: #9d9db3;
        margin: 0 0 15px;
    }
}



#marketplace-tags {
    .tags a {
        border-radius: 45px;
        background: #fafafb;
        padding: 12px 20px;
        border: 1px solid #eee;
        color: #83889a;
        font-size: 16px;
        margin: 0 5px 10px 0;
    }
    .btn {
        border: 0;
    }
    .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 25px;
        background: #fff;
        border-radius: 15px;
        margin: 0 0 15px;
        
    }
    .modal-content {
        border-radius: 15px;
        background: #F9FBFC;
    }
    .modal-header {
        border: 0;
        padding: 15px 25px;
        h5{ 
            color: #40414D;
            font-size: 20px;
        }
    }
}

.banner-img {
    padding: 0 0 30px;
    img {
        width: 100%;
    }
}
.main-content {
    font-size: 20px;
    line-height: 28px;
    color: #5B5C67;
}
.about-box {
    background: #fff;
    padding: 35px;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 15px 0 0;
    h3 {
        font-size: 24px;
        color: #40414D;
    }
}
.about-blue-box {
    background: #2A4A76;
    padding: 45px 25px;
    margin: 50px 0 10px;
    top: 20px;
    text-align: center;
    display: inline-block;
    width: 100%;
    h5 {
        color: #fff;
        font-weight: 400;
    }
    .btn {
        font-weight: 400;
    }
}
.contact-form {
    background: #fff;
    padding: 40px 45px;
    .form-group {
        label {
            color: #484B5D;
            font-size: 17px;
            &.error{
                color: $red;
            }
        }
    }
    .form-control {
        border-radius: 20px;
        border: 1px solid #E4EEF2;
        background: #EFF6F9;
    }
    textarea.form-control {
        height: 130px;
        resize: none;
    }
    .btn {
        font-weight: 400;
        float: right;
        padding: 5px 40px;
    }
}
.contact-details {
    padding-top: 40px;
    h5 {
        position: relative;
        color: #484B5D;
        padding: 0 0 15px;
        font-size: 20px;
        font-weight: 600;
        &:after {
            content: "";
            position: absolute;
            left: 0; 
            bottom: 0;
            width: 20px;
            height: 3px;
            background: #EFF6F9;
        }
    }
    p {
        color: #5B5C67;
        a {
            color: #5B5C67;
            cursor: pointer;
            &:hover {
                color: #d33724;
            }
        }
    }
}
.map-box {
    border-radius: 20px;
    overflow: hidden;
    height: 180px;
    iframe {
        width: 100%;
        margin: 0;
    }
}

.profile-avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    img {
        width: 100%;
        height: auto;
    }
}
.profile-heading {
    text-align: center;
}
.profile-box {
    .data-group {
        margin: 0 0 20px;
        label {
            color: #8A8EA3;
            font-size: 17px;
            &.error{
                color: $red;
            }
        }
        p {
            font-size: 22px;
            color: #484B5D;
        }
    }
    .btn-edit {
        background: #DBE4E8;
        color: #4B4E60;
        font-size: 15px;
        padding: 7px 35px;
        float: right;
    }
}
@media (min-width: 1199px){
    .container, 
    .container-sm, 
    .container-md, 
    .container-lg, 
    .container-xl {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1199px){
    .banner .caption h1 {
        font-size: 40px;
    }
    .banner .caption p {
        font-size: 24px;
    }
    .sub-header .price-wrapper.days-ended .img {
        margin: 30px auto 10px;
    }
    .sub-header .price-wrapper .btn {
        padding: 10px;
    }
    
}


@media screen and (max-width: 991px){
    
    .banner .caption h1 {
        font-size: 34px;
    }
    .banner .caption p {
        font-size: 20px;
    }
    .navbar-collapse {
        position: fixed;
        height: 100%;
        width: 300px;
        z-index: 9;
        background: #fff;
        left: -300px;
        top: 0;
        -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; transition: all .2s ease-in-out;
    }
    .navbar-collapse.show {
        left: 0;
    }
    .navbar .menu-right {
        flex-direction: column;
        text-align: left;
        padding: 15px 30px;
    }
    .navbar .menu-right form {
        order: 2;
        width: 100%;
    }
    .navbar-nav {
        order: 1;
        width: 100%;
    }
    .navbar .menu-right ul {
        align-items: start;
        
        li {
            width: 100%;
            padding: 0;
        }
    }
    .navbar .menu-right form {
       margin: 20px 0 0; 
    //    position: absolute;
    //    bottom: 20px;
    //    right: 20px;
    //    left: 20px;
    //    width: auto;
    }
    .navbar .menu-right .search-field {
        width: 100%;
    }
    .navbar .menu-right ul li.login {
        padding: 20px 0 0;
    }
    .navbar .menu-right ul li {
       padding: 5px 0; 
    }
    
    .heading .btn {
        font-size: 15px;;
        border-radius: 45px;
        padding: 8px 30px;
    }
    .marketplace-wrapper {
        padding: 15px 0;
    }
}
@media screen and (max-width:767px){
    .banner .caption {
        background:#eef1f3;
        position: relative;
        padding: 0 0 45px;
        text-align: center;
        
        .caption-in {
            background: #fa5440;
            padding: 25px 25px 35px;
            margin: -20px 0 0;
        }
         
        .btn {
            background: #20272f;
            &:hover {
                background: #000;
            }
        }
        h1 {
            color: #fff;
            margin: 0 0 5px;
        }
        p {
            color: #fff; 
            margin: 0 0 15px;
        }
    }
    .content-area {
        padding: 30px 0;
    }
    .navbar .menu-right ul li.login a {
        text-align: center;
    }
    footer .social {
        justify-content: center;
        margin: 20px 0 0;
        li {
            margin: 0 30px;
        }
    }
    footer {
        text-align: center;
        padding: 5px 0 10px
    }
    footer .title {
        margin: 35px 0 0;
        text-align: center;
    }
    .contact-details {
        text-align: center;
    }
    .contact-details h5:after {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .profile-box {
        text-align: center;
    
        .btn-edit  {
            float: none;
            margin: 0 auto;
        }
        .data-group p {
            font-size: 20px;
        }
    }
}
@media screen and (max-width:460px){
    .navbar-collapse {
        width: 260px;
        left: -260px;
    }
    .heading .btn {
        display: none;
    }
    .contact-form {
        padding: 0;
        background: transparent;
    }
}
  
.select-wrapper .irs .irs-grid {
    pointer-events: none;
}

